# World Border Fix
public net.minecraft.world.level.border.WorldBorder listeners
public net.minecraft.world.level.border.BorderChangeListener$DelegateBorderChangeListener worldBorder

# Rendering Stuff
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate palettes